/*Navigation*/
.bottom-nav {
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 50px;
    padding: 0 30px;
    transition: opacity 0.1s linear,transform 0.5s ease;
    background: #000A2F;
}

.bottom-nav ul a {
    font-family: "Noto Serif",serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-decoration: none;
}

.bottom-nav ul button {
    background: #000A2F;
    border: none;
    padding: 5px 10px;
}

/*header*/
.header {
    display: flex;
    justify-content: center;
}

/*Logo*/
.header img {
    position: relative;
    display: block;
    width: auto;
    height: 40px;
    padding: 5px 10px;
}

/*Btn header*/
.header .button-left {
    color: #fff;
    height: 35px;
    width: 98px;
    background: #eca050;
    font-weight: bold;
    border-radius: 2px;
    font-size: 12px;
    font-family: Arimo,sans-serif;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 1px;
    margin-left: 30px;
}

.header .button-right {
    background-color: #fff;
    color: #565656;
    width: 90px;
    height: 35px;
    font-weight: bold;
    border-radius: 2px;
    font-size: .9rem;
    border-style: none;
    border: 1px solid #a8aab3;
    margin-left: 30px;
}

.new {

}

/*content*/
.new .new-title {
    font-size: 44px;
    font-weight: 700;
    font-family: "Noto Serif",serif;
    line-height: 52px;
    color: #000A2F;
    margin-bottom: 9px;
}

.new .new-subtitle {
    font-size: 22px;
    font-weight: 400;
    font-family: "Noto Serif",serif;
    line-height: 30px;
    color: rgba(41,41,51,.8);
    margin-bottom: 24px;
}

.new .img-editor {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
    display: block;
}

.new a {
    font-size: 14px;
    font-family: "Arimo",sans-serif;
    color: #7A7A7A;
}

.clear {
    display: table;
    clear: both;
}

.img-new {
    border-radius: 4px;
    padding-top: 40px;
}

.subtitle-img {
    font-family: "Arimo",sans-serif;
    font-size: 14px;
    padding: 12px 0 26px;
    color: #292933;
    position: relative;
    display: block;
}

/*footer*/
.footer {
    background-color: #000a2f; 
    color: white;
}

.content-new h1 {
    font-size: 19px;
    font-family: "Noto Serif",serif;
    line-height: 30px;
    color: #292933;
    margin-bottom: 34px;
    font-weight: bold;
}

.content-new h2 {
    font-size: 19px;
    font-family: "Noto Serif",serif;
    line-height: 30px;
    color: #292933;
    margin-bottom: 34px;
}